
/* Whole Site Styling */
main{
        padding-left: 1%;
        padding-right: 1%;
    }

    main {
        flex: 1;  /* makes the <main> grow (we want it to grow so that it pushes <footer> to the bottom of page)*/
    }

    body {
        display: flex;  /* setting "display: flex" allows its children (e.g. "main" below) to use the "flex" property */
        flex-direction: column;
        padding-top: 56px;  /* allow enough space for a fixed navbar (56px is the height of the navbar here) */
        padding-bottom: 1%;
        min-height: 100vh;  /* i.e minimum width is 100% of the "viewport height"... i.e the full screen height */
    }

    footer {
        display: flex;  /* allows use of "justify-content" property */
        justify-content: center;  /* horizontally centers the contents (the social icons) */
        background-color: rgb(255, 255, 255);
        height: 100px;
        padding: 20px;
      }
      
      footer a {
        margin: 5px;
        text-decoration: none!important;
      }

    .social-icon {
        display: inline-flex;  /* allows use of "justify-content" and "align-items" properties */
        width: 50px;
        height: 50px;
        color: rgb(255, 255, 255);
        background-color: black;
        justify-content: center;  /* horizontally centers the contents (the FontAwesome icon) */
        align-items: center;  /* vertically centers the contents (the FontAwesome icon) */
        border-radius: 50%;  /* makes it round (circle if width and height are the same) */
    }

    #go-top-button {
        width: 100px;
        height: 100px;
        position: fixed;  /* Fixed/sticky position */
        bottom: 20px;  /* Place the button 20px from the bottom of the page */
        right: 30px;  /* Place the button 30px from the right */
        z-index: 99;  /* Make sure it does not overlap */
        border-radius: 100%;  /* makes it round (circle if width and height are the same) */
        color:white;
        background-color: black;
        border-color: black;
    }
    
    .social-icon:hover {
        color: #222;  /* change color when hover over the link */
    }

    h1 { 
        font-family: 'Lato',Arial,sans-serif;
        font-weight: bold;
        padding-left: 1%;
        background-color: black;
        color: white;
        width: 100%;
        display: inline-flex;
    }

    h2 {
        font-family: 'Lato',Arial,sans-serif;
    }

    h3 {
        font-family: 'Lato',Arial,sans-serif;
    }

    p {
        font-family: 'Lato',Arial,sans-serif;
    }

    #Carouselhomepage{
        padding-left: 0%;
        padding-right: 0%;
        width: 100% ;
    }


/* Accommodation Page Styling */

#H1accommodation{
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

#H2accommodation{
    padding-top: 1%;
    padding-left: 1%;
}
 
#T1table{
    margin-left: 5%;
}

 #T1tr,th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
 }

 p{
     margin-top: 1%;
     margin-bottom: 1%;
     margin-left: 1%;
 }

 dl{
     margin-left: 1%;
     margin-top: 2%;
 }
 dt{
     margin-left: 2%;
     margin-top: 2%;
 }
dd{
    margin-left: 4%;
    margin-top: 0.5%;
}






/* About Page Styling */

.card {
    display: inline-flex;
    justify-content: center;
    }

  #about-heading {
      padding-top: 1%;
      padding-bottom: 1%;
  }

  #meet-heading {
      padding-top: 1%;
      padding-bottom: 1%;
  }

  #ellie-card {
    display: inline-flex;
    justify-content: center;
  }

#buttonstras {
    color: white;
    background-color: black;
    border-color: black;
}
#buttonaix {
    color: white;
    background-color: black;
    border-color: black;
}
#buttonang {
    color: white;
    background-color: black;
    border-color: black;
}
#buttonellie {
    color: white;
    background-color: black;
    border-color: black;
}


.ccbtn:hover{
	background:white;

}

.ccheader {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.ccheader h3 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	line-height: 1.3;
}

/* Contact Us Form CSS*/
.ccform {
    margin: 0 auto;
     width: 800px;
 }
 .ccfield-prepend{
     margin-bottom:10px;
     width:100%;
 }
 
 .ccform-addon{
     color:black; 
     float:left;
     padding:8px;
     width:8%;
     background:#FFFFFF;
     text-align:center;	
 }
 
 .ccformfield {
     color:#000000; 
     background:#FFFFFF;
     border:none;
     padding:15.5px;
     width:91.9%;
     display:block;
     font-family: 'Lato',Arial,sans-serif;
     font-size:14px;
 }
 
 .ccformfield {
     font-family: 'Lato',Arial,sans-serif;
 }
 .ccbtn{
     display:block;
     border:none;
     background:black;
     color:#FFFFFF;
     padding:12px 25px;
     cursor:pointer;
     text-decoration:none;
     font-weight:bold;
 }

 /* Placement Page Styling */

 #placementbutton2 {
    color: white;
    background-color: black;
    border-color: black;
 }

 #placementbutton1 {
    color: white;
    background-color: black;
    border-color: black;
 }

 #placementhead1 {
 padding-top: 1%;
 padding-bottom: 1%;
 }

 #elliework {
     display: flex;
     size: 20%;
     justify-content: right;
 }

 #section-1{
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
  }

  #section-2{
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
  }
  
  #section-3{
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
  }
  
  
  img {
    max-width: 100%
  }
  
  .image {
    flex-basis: 40%
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
  }